<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Springtime MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Springtime MadLibs!</h1>
      </div>
        <div class="row">
          <div class="col-md-6">
          <a href="/springmlgardenForm">Spring Garden Madlib!</a>
          </div>
          <div class="col-md-6">
          <a href="/springmlform">Springtime Fun MadLib!</a>
          </div>
          <div class="col-md-6">
          <a href="/springmlfactsform">Springtime Facts MadLib!</a>
          </div>
        </div>
    </div>
  </body>
</html>