<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Spring Garden MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Springtime MadLibs!</h1>
      </div>
        <h2>Fill out the following form to create a custom story about a Spring Garden!</h2>
          <form action="/factsstory" method="post">
            <label for="number">Enter a Number:</label>
            <input id="number" name="number" type="text">
            <label for="adjective">Enter an Adjective:</label>
            <input id="adjective" name="adjective" type="text">
            <label for="noun">Enter a Noun:</label>
            <input id="noun" name="noun" type="text">
            <label for="noun2">Enter another Noun:</label>
            <input id="noun2" name="noun2" type="text">
            <label for="adjective2">Enter another Adjective:</label>
            <input id="adjective2" name="adjective2" type="text">
            <label for="adjective3">Enter another Adjective:</label>
            <input id="adjective3" name="adjective3" type="text">
            <label for="animals">Enter a plural of an Animal</label>
            <input id="animals" name="animals" type="text">
            <label for="animals2">Enter another plural of an Animal</label>
            <input id="animals2" name="animals2" type="text">
            <label for="noun3">Enter another Noun:</label>
            <input id="noun3" name="noun3" type="text">
            <label for="verb">Enter a Verb:</label>
            <input id="verb" name="verb" type="text">
            <button type="submit">Go!</button>
        </form>
    </div>
  </body>
</html>