<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Springtime MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill out the following form t create a custom story about Spring!</h1>
    <form action="/story" method="post">
     <label for="color">Enter a Color:</label>
     <input id="color" name="color" type="text">
     <label for="color2">Enter another Color:</label>
     <input id="color2" name="color2" type="text">
     <label for="adjective">Enter an adjective:</label>
     <input id="adjective" name="adjective" type="text">
     <label for="animals">Enter a plural of an Animal:</label>
     <input id="animals" name="animals" type="text">
     <label for="adjective2">Enter another Adjective:</label>
     <input id="adjective2" name="adjective2" type="text">
     <label for="animals2">Enter another plural of an Animal:</label>
     <input id="animals2" name="animals2" type="text">
     <label for="animals3">Enter another plural of an Animal:</label>
     <input id="animals3" name="animals3" type="text">
     <label for="color3">Enter another Color:</label>
     <input id="color3" name="color3" type="text">
     <label for="noun">Enter a Noun:</label>
     <input id="noun" name="noun" type="text">
     <label for="verb">Enter a Verb ending in -ing:</label>
     <input id="verb" name="verb" type="text">
     <label for="color4">Enter another Color:</label>
     <input id="color4" name="color4" type="text">
     <label for="adjective3">Enter another Adjective:</label>
     <input id="adjective3" name="adjective3" type="text">
     <label for="color5">Enter another Color:</label>
     <input id="color5" name="color5" type="text">
     <label for="verb2">Enter a Verb:</label>
     <input id="verb2" name="verb2" type="text">
     <label for="adjective4">Enter another Adjective:</label>
     <input id="adjective4" name="adjective4" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>